@page "/film/update/{Id:guid}"
@using MovieTicket.Application.DataTransferObjs.Film
@using MovieTicket.Application.DataTransferObjs.ScreenType
@using MovieTicket.Application.DataTransferObjs.TranslationType
@using MovieTicket.Domain.Enums
@inject IFilmService FilmService
@inject NavigationManager NavigationManager
@inject IFileUpload FileUploadService
@inject IJSRuntime _JSRuntime
@inject ITranslationTypeService TranslationTypeService
@inject IScreenTypeServices ScreenTypeService
<div class="container-fluid">
    <button class="btn btn-outline-secondary mb-3" @onclick="GoBack">Quay lại</button>

    <EditForm Model="filmUpdateRequest" OnValidSubmit="HandleFilmUpdate">
        <DataAnnotationsValidator />
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="tenPhim" class="form-label">Tên phim</label>
                <InputText @bind-Value="filmUpdateRequest.Name" class="form-control" id="tenPhim" placeholder="Enter name" />
                <ValidationMessage For="@(() => filmUpdateRequest.Name)" />
            </div>
            <div class="col-md-6">
                <label for="hinhThucChieu" class="form-label">Hình thức chiếu</label>
                <select @onchange="OnScreenTypeChange" class="form-control" multiple id="hinhThucChieu">
                    @foreach (var screenType in screenTypes)
                    {
                        <option value="@screenType.Id">@screenType.Type</option>
                    }
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="tenPhimEng" class="form-label">Tên phim (tiếng anh)</label>
                <InputText @bind-Value="filmUpdateRequest.EnglishName" class="form-control" id="tenPhimEng" placeholder="Enter english name" />
                <ValidationMessage For="@(() => filmUpdateRequest.EnglishName)" />
            </div>
            <div class="col-md-6">
                <label for="hinhThucDich" class="form-label">Hình thức dịch</label>
                <InputSelect @bind-Value="selectedTranslationTypeIds" class="form-control" id="hinhThucDich">
                    <option value="">Select Translation Type</option>
                    @foreach (var translationType in translationTypes)
                    {
                        <option value="@translationType.Id">@translationType.Type</option>
                    }
                </InputSelect>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="trailer" class="form-label">Trailer</label>
                <InputText @bind-Value="filmUpdateRequest.Trailer" class="form-control" id="trailer" placeholder="Enter trailer" />
                <ValidationMessage For="@(() => filmUpdateRequest.Trailer)" />
            </div>
            <div class="col-md-6">
                <label for="doTuoi" class="form-label">Độ tuổi xem phim</label>
                <InputNumber class="form-control" id="doTuoi" @bind-Value="filmUpdateRequest.Rating" placeholder="Enter rating"/>
                <ValidationMessage For="@(() => filmUpdateRequest.Rating)" />
            </div>
        </div>

        <div class="mb-3">
            <label for="moTa" class="form-label">Mô tả</label>
            <InputTextArea class="form-control" id="moTa" @bind-Value="filmUpdateRequest.Description" rows="3" placeholder="Enter description"></InputTextArea>
            <ValidationMessage For="@(() => filmUpdateRequest.Description)" />
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="theLoai" class="form-label">Thể loại</label>
                <InputText class="form-control" id="theLoai" @bind-Value="filmUpdateRequest.Gerne" placeholder="Enter genre" />
                <ValidationMessage For="@(() => filmUpdateRequest.Gerne)" />
            </div>
            <div class="col-md-4">
                <label for="daoDien" class="form-label">Đạo diễn</label>
                <InputText class="form-control" id="daoDien" @bind-Value="filmUpdateRequest.Director" placeholder="Enter director" />
                <ValidationMessage For="@(() => filmUpdateRequest.Director)" />
            </div>
            <div class="col-md-4">
                <label for="dienVien" class="form-label">Diễn viên</label>
                <InputText class="form-control" id="dienVien" @bind-Value="filmUpdateRequest.Cast" placeholder="Enter cast" />
                <ValidationMessage For="@(() => filmUpdateRequest.Cast)" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="ngayChieu" class="form-label">Lịch chiếu</label>
                <InputDate class="form-control" id="ngayChieu" @bind-Value="filmUpdateRequest.StartDate" />
                <ValidationMessage For="@(() => filmUpdateRequest.StartDate)" />
            </div>
            <div class="col-md-4">
                <label for="namPhatHanh" class="form-label">Năm phát hành</label>
                <InputNumber class="form-control" id="namPhatHanh" @bind-Value="filmUpdateRequest.ReleaseYear" placeholder="Enter release year" />
                <ValidationMessage For="@(() => filmUpdateRequest.ReleaseYear)" />
            </div>
            <div class="col-md-4">
                <label for="thoiLuong" class="form-label">Thời lượng phim (phút)</label>
                <InputNumber class="form-control" id="thoiLuong" @bind-Value="filmUpdateRequest.RunningTime" placeholder="Enter duration" />
                <ValidationMessage For="@(() => filmUpdateRequest.RunningTime)" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="trangThai" class="form-label">Trạng thái</label>
                <InputSelect class="form-select" id="trangThai" @bind-Value="filmUpdateRequest.Status">
                    <option selected>Select a status</option>
                    @foreach (var Item in Enum.GetValues(typeof(FilmStatus)))
                    {
                        <option value="@Item">@Item</option>
                    }
                </InputSelect>
            </div>
            <div class="col-md-6">
                <label for="quocGia" class="form-label">Quốc gia</label>
                <InputText class="form-control" id="quocGia" @bind-Value="filmUpdateRequest.Nation" placeholder="Enter nation" />
                <ValidationMessage For="@(() => filmUpdateRequest.Nation)" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label for="language" class="form-label">Ngôn ngữ</label>
                <InputText type="text" class="form-control" id="language" @bind-Value="filmUpdateRequest.Language" placeholder="Enter language"/>
                <ValidationMessage For="@(() => filmUpdateRequest.Language)" />
            </div>
            <div class="col-md-6">
                <label for="poster" class="form-label">Poster</label>
                <InputFile OnChange="OnInputFileChange" class="form-control" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }
    private FilmUpdateRequest filmUpdateRequest = new FilmUpdateRequest();
    private FilmDto filmDto = new FilmDto();
    private IBrowserFile? posterFile;
    private List<ScreenTypeDto> screenTypes = new List<ScreenTypeDto>();
    private List<TranslationTypeDto> translationTypes = new List<TranslationTypeDto>();
    private List<Guid> selectedScreenTypeIds;
    private Guid selectedTranslationTypeIds;
    protected async override Task OnInitializedAsync()
    {

        //Lấy thông tin phim theo id
        filmDto = await FilmService.GetById(Id);
        //Gọi API lấy danh sách hình thức chiếu và dịch
        screenTypes = await ScreenTypeService.GetAllScreenTypes();
        translationTypes = await TranslationTypeService.GetAllTranslationTypes();
        if(filmDto != null)
        {
            filmUpdateRequest = new FilmUpdateRequest()
            {   
                Name = filmDto.Name,
                EnglishName = filmDto.EnglishName,
                Trailer = filmDto.Trailer,
                Description = filmDto.Description,
                Gerne = filmDto.Gerne,
                Director = filmDto.Director,
                Cast = filmDto.Cast,
                Rating = filmDto.Rating,
                StartDate = filmDto.StartDate,
                ReleaseYear = filmDto.ReleaseYear,
                RunningTime = filmDto.RunningTime,
                Status = filmDto.Status,
                Nation = filmDto.Nation,
                Poster = filmDto.Poster,
                Language = filmDto.Language
            };

            selectedScreenTypeIds = filmDto.ScreenTypeDtos.Select(st => st.Id).ToList();
            selectedTranslationTypeIds = filmDto.TranslationTypeDtos.FirstOrDefault().Id;
        }
        else
        {
            await _JSRuntime.ToastrError("Update film failed");
        }
        
    }

    private async Task HandleFilmUpdate()
    {
        if (posterFile != null)
        {
            filmUpdateRequest.Poster = await FileUploadService.UploadFile(posterFile);
        }
        filmUpdateRequest.ScreenTypeIds = selectedScreenTypeIds;
        filmUpdateRequest.TranslationTypeIds = new List<Guid> { selectedTranslationTypeIds };
        var response = await FilmService.UpdateFilm(Id, filmUpdateRequest);
        if (response != null)
        {
            await _JSRuntime.ToastrSuccess("Update film successfully");
            NavigationManager.NavigateTo("/list-film");
        }
        else
        {
            await _JSRuntime.ToastrError("Update film failed");
        }

    }
    private void OnInputFileChange(InputFileChangeEventArgs e)
    {
        posterFile = e.File;
    }
    private void GoBack()
    {
        NavigationManager.NavigateTo("/list-film");
    }

    private void OnScreenTypeChange(ChangeEventArgs e)
    {
        var selectedOptions = ((IEnumerable<string>)e.Value).Select(Guid.Parse).ToList();
        selectedScreenTypeIds = selectedOptions;
    }
}
