@page "/admin"
@attribute [Authorize(Roles = "Admin")]
@using Microsoft.AspNetCore.Authorization
@using MovieTicket.Application.DataTransferObjs.AdminHome
@using MovieTicket.BlazorServer.Services.Interfaces
@inject IAdminHomeService _ser;

<div class="container-fluid">
	<div class="row my-3">
		<div class="col mx-2 p-3"
			 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;border-radius: 10px;
		  ">
			<div class="card-body">
				<h5 class="card-title">Doanh thu trong ngày</h5>
				<p class="card-text fs-1 fw-semibold">@generalDto.DailyRevenue</p>
			</div>
		</div>
		<div class="col mx-2 p-3"
			 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;border-radius: 10px;
	  ">
			<div class="card-body">
				<h5 class="card-title">Khách hàng mới</h5>
				<p class="card-text fs-1 fw-semibold">@generalDto.NewCustomer</p>
			</div>
		</div>
		<div class="col mx-2 p-3"
			 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;border-radius: 10px;
	  ">
			<div class="card-body">
				<h5 class="card-title">Tổng vé bán ra (@date.Month/@date.Year)</h5>
				<p class="card-text fs-1 fw-semibold">@generalDto.TotalTicketsSold</p>
			</div>
		</div>
		<div class="col mx-2 p-3"
			 style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;border-radius: 10px;
	  ">
			<div class="card-body">
				<h5 class="card-title">Tổng doanh thu (@date.Month/@date.Year)</h5>
				<p class="card-text fs-1 fw-semibold">@generalDto.TotalRevenue</p>
			</div>
		</div>
	</div>
	<div class="row" style="width: 100%;">
		<div class="w-50 col">
			<h2 class="fw-semibold fs-5" style="text-align:center">Top bài viết được xem nhiều nhất</h2>
			<canvas id="topArticle"></canvas>
		</div>
		<div class="w-50 col">
			<h2 class="fw-semibold fs-5" style="text-align:center">Doanh thu theo tháng</h2>
			<canvas id="topRevenue"></canvas>
		</div>
	</div>
	<hr class="m-5"/>

	<div class="row">
		<div class="w-50 col">
			<div class="d-flex justify-content-between">
				<h2 class="fw-bold">Doanh thu theo Phim</h2>
				<NavLink href="revenue-by-movie" class="icon-link icon-link-hover fs-4">
					Xem tất cả
				</NavLink>
			</div>
			<div>
				<table class="table table-hover">
					<thead class="table-light">
						<tr>
							<th class="col-6">Tên phim</th>
							<th scope="col">Tổng số vé bán ra</th>
							<th scope="col">Doanh thu</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in revenueByMovieDtos)
						{
							<tr>
								<th scope="row">@item.FilmName</th>
								<td>@item.TotalTicket</td>
								<td>@item.TotalRevenue</td>
							</tr>
						}
						
					</tbody>
				</table>
				<nav class="d-flex justify-content-end" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="w-50 col">
			<div class="d-flex justify-content-between">
				<h2 class="fw-bold">Doanh thu theo Rạp</h2>
				<NavLink class="icon-link fs-4 icon-link-hover" href="revenue-by-cinema">
					Xem tất cả
				</NavLink>
			</div>
			<div>
				<table class="table table-hover">
					<thead class="table-light">
						<tr>
							<th scope="col">Tên rạp</th>
							<th scope="col">Tổng số vé bán ra</th>
							<th scope="col">Doanh thu</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in revenueByCinemaDtos)
						{
							<tr>
								<th scope="row">@item.Name</th>
								<td>@item.TotalTicket</td>
								<td>@item.TotalRevenue</td>
							</tr>
						}
					</tbody>
				</table>
				<nav class="d-flex justify-content-end" aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>

@code {
	private GeneralDto generalDto = new GeneralDto();
	private List<RevenueByCinemaDto> revenueByCinemaDtos = new List<RevenueByCinemaDto>();
	private List<RevenueByMovieDto> revenueByMovieDtos = new List<RevenueByMovieDto>();
	private DateTime date = DateTime.Today;
	protected override async Task OnInitializedAsync()
	{	
		DateTime start = new DateTime(date.Year, date.Month, 1);
		generalDto = await _ser.GetAdminGeneralAsync();
		revenueByCinemaDtos = await _ser.GetListRevenueByCinemaAsync(start,date);
		revenueByMovieDtos = await _ser.GetListRevenueByMovieAsync(start, date);
	}
}
<script>
	var articleTop = document.getElementById('topArticle');
	var revenueTop = document.getElementById('topRevenue');
	var labels = ['DeadPool', 'Conan Movie 27', '15 phim...', 'Top 10 phim bộ', 'Top 10 phim lẻ'];
	var currentMonthIndex = new Date().getMonth();

	var months = [
		'Tháng 1',
		'Tháng 2',
		'Tháng 3',
		'Tháng 4',
		'Tháng 5',
		'Tháng 6',
		'Tháng 7',
		'Tháng 8',
		'Tháng 9',
		'Tháng 10',
		'Tháng 11',
		'Tháng 12'
	];

	// Tạo mảng để lưu 5 tháng trước
	var lastFiveMonths = [];

	// Lặp để lấy 5 tháng trước
	for (let i = 1; i <= 5; i++) {
		var monthIndex = (currentMonthIndex - i + 12) % 12; // Xử lý trường hợp tháng âm
		lastFiveMonths.push(months[monthIndex]);
	}

	new Chart(articleTop, {
		type: 'bar',
		data: {
			labels: labels,
			datasets: [{
				label: 'Lượt xem',
				data: [25, 19, 17, 17, 15],
				borderWidth: 1
			}]
		},
	});

	new Chart(revenueTop, {
		type: 'line',
		data: {
			labels: lastFiveMonths,
			datasets: [{
				label: 'Doanh thu',
				data: [20000000, 40000000, 70000000, 10000000, 90000000],
				fill: false,
				borderColor: 'rgb(75, 192, 192)',
				tension: 0.1
			}]
		}
	});
</script>
