@page "/cinema"
@attribute [Authorize(Roles = "Admin")]

@if (_lstCinemaCenters != null)
{
    <div class="container-fluid">
        <!-- Nút -->
        <div class="d-grid gap-3 d-md-flex justify-content-md-start">
            <select class="form-select" style="width:auto" @onchange="OnChangeCinemaCenter">
                <option value="">Chọn rạp</option>
                @foreach (var item in _lstCinemaCenters)
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
            <button class="btn add-btn me-md-2" id="btnAdd" data-id="selectedCinemaCenterName" @onclick="()=>OpenCreateCinemaModal(selectedCinemaCenterName)">
                <i class="bi bi-plus-square"></i>
                Tạo phòng chiếu
            </button>
        </div>
        <!-- Create Cinema Modal -->
        <div class="modal fade" id="CreateCinemaModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Tạo Phòng chiếu</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <CreateCinemaModal @ref="createCinemaModalRef" CinemaCenterName="@selectedCinemaCenterName" OnCreateSuccess="HandleCreateCinemaSuccess" />
                        <!--
                            CinemaCenterName="selectedCinemaCenterName" -> Truyền tên rạp phim vào CreateCinemaModal
                            OnCreateSuccess="HandleCreateSuccess" -> Truyền phương thức HandleCreateSuccess vào CreateCinemaModal
                            ref="createCinemaModalRef" -> Tham chiếu đến CreateCinemaModal
                        -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Cinema Detail Modal -->
        <div class="modal fade" id="CinemaDetailModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content" >
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Chi tiết</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <CinemaDetailModal CinemaId="@guid" OnSeatSelected="HandleSeatSelected" OnRowSelected="HandleRowSelected" />
                    </div>
                </div>
            </div>
        </div>
        <!-- Update Cinema Modal -->
        <div class="modal fade" id="UpdateCinemaModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true" data-bs-theme="light">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Sửa Phòng chiếu</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <UpdateCinemaModal @ref="updateCinemaModalRef" CinemaId="@guid" OnUpdateSuccess="HandleUpdateCinemaSuccess" />
                    </div>
                </div>
            </div>
        </div>
        <!--Seat Detail Modal -->
        <div class="modal fade" id="SeatDetailModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Chi tiết ghế</h4>
                        <button type="button" class="btn-close" aria-label="Close" @onclick="() => CloseSeatDetail()"></button>
                    </div>
                    <div class="modal-body">
                        <SeatDetailModal @ref="seatDetailModalRef" SeatId="@SeatId" OnSeatUpdated="HandleSeatUpdated" />
                    </div>
                </div>
            </div>
        </div>
        <!--Row Update Modal -->
        <div class="modal fade" id="RowUpdateModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header" data-bs-theme="dark">
                        <h4 class="modal-title">Sửa hàng ghế</h4>
                        <button type="button" class="btn-close" aria-label="Close" @onclick="() => CloseRowUpdate()"></button>
                    </div>
                    <div class="modal-body">
                        <RowUpdateModal @ref="rowUpdateModalRef" SeatDTOs="lstSeatsRow" OnRowUpdated="HandleRowUpdated"  />
                    </div>
                </div>
            </div>
        </div>
        <!-- Bảng -->
        <div class="table-responsive my-3">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên phòng chiếu</th>
                        <th scope="col">Loại phòng chiếu</th>
                        <th scope="col">Số lượng ghế tối đa</th>
                        <th scope="col">Số hàng</th>
                        <th scope="col">Số cột</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Sửa lần cuối</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @if (_lstCinemas == null || !_lstCinemas.Any())
                    {
                        <tr>
                            <td colspan="9" class="text-center">Không có dữ liệu</td>
                        </tr>
                    }
                    else
                    {
                        int index = 1; // Biến đếm bắt đầu từ 1
                        @foreach (var cinema in _lstCinemas)
                        {
                            <tr>
                                <td>@index</td> <!-- Sử dụng biến đếm -->
                                <td>
                                    <a class="cinemaName" data-id="@cinema.Id" @onclick="() => OpenCinemaDetailModal(cinema.Id)">
                                        @cinema.Name
                                    </a>
                                </td>
                                <td>@cinema.CinemaTypeName</td>
                                <td>@cinema.MaxSeatCapacity</td>
                                <td>@cinema.Row</td>
                                <td>@cinema.Column</td>
                                <td>@cinema.CreateTime</td>
                                <td>
                                    @if(cinema.UpdateTime == DateTime.MinValue)
                                    {
                                        <span class="badge text-bg-secondary">Chưa sửa</span>
                                    }
                                    else
                                    {
                                        <span class="badge text-bg-secondary">@cinema.UpdateTime</span>
                                    } 
                                </td>
                                <td>
                                    <button class="btn edit-btn" data-id="@cinema.Id" @onclick="() => OpenUpdateCinemaModal(cinema.Id)">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button class="btn btn-danger" data-id="@cinema.Id" @onclick="() => ShowDeleteConfirmation(cinema.Id)">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            index++; // Tăng biến đếm sau mỗi lần lặp
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h3>Loading...</h3>
}

<script>
    function openModal(modalId) {
        var modalElement = document.getElementById(modalId);
        var modal = new bootstrap.Modal(modalElement);
        modal.show();
        }
    function closeModal(modalId) {
            var modalElement = document.getElementById(modalId);
            var modal = bootstrap.Modal.getInstance(modalElement);
            if (modal) {
                modal.hide();
            }
        }
</script>

@code {
    private IQueryable<CinemaCenterDto> _lstCinemaCenters;
    private IQueryable<CinemaDto> _lstCinemas;
    private string selectedCinemaCenterName = string.Empty;
    private Guid guid;
    private Guid SeatId;
    private List<SeatDTO> lstSeatsRow;
    private CreateCinemaModal createCinemaModalRef; // Tham chiếu đến CreateCinemaModal
    private UpdateCinemaModal updateCinemaModalRef; // Tham chiếu đến UpdateCinemaModal
    private SeatDetailModal seatDetailModalRef; // Tham chiếu đến SeatDetailModal
    private RowUpdateModal rowUpdateModalRef; // Reference to RowUpdateModal
    private CancellationTokenSource _cancellationTokenSource = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {   
        _lstCinemaCenters = await CinemaCenterService.GetCinemaCentersAsync(new CinemaCenterSearch());
        // Giả sử bạn đã chọn một cinema center nào đó
        selectedCinemaCenterName = "Tên Rạp Phim"; // Thay thế bằng tên thực tế
        _lstCinemas = await CinemaService.GetCinemasAsync(selectedCinemaCenterName, null); // Truyền cinemaCenterName
    }

    private async Task OnChangeCinemaCenter(ChangeEventArgs e)
    {
        selectedCinemaCenterName = e.Value?.ToString();
        if(string.IsNullOrEmpty(selectedCinemaCenterName))
        {
            _lstCinemas = null;
            return;
        }
        _lstCinemas = await CinemaService.GetCinemasAsync(selectedCinemaCenterName, null); // Truyền cinemaCenterName
        StateHasChanged();
    }

    private async void ShowDeleteConfirmation(Guid id)
    {
        guid = id;
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Mày chắc chưa?");
        if (confirmed)
        {
            await DeleteCinema();
        }
    }

    private async Task DeleteCinema()
    {
        var response = await CinemaService.Delete(guid);
        if (response.Status == StatusCodes.Status200OK)
        {
            await JSRuntime.InvokeVoidAsync("alert", response.Message);

            NavigationManager.NavigateTo("/cinema", forceLoad: true);
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("alert", response.Message);
        }
    }

    private async Task OpenUpdateCinemaModal(Guid id)
    {   
        guid = id;
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("openModal", "UpdateCinemaModal");
    }

    private async Task OpenCinemaDetailModal(Guid id)
    {   
        guid = id;
        await Task.Delay(300); // Delay to rerender CinemaDetailModal, avoid displaying old data
        await JSRuntime.InvokeVoidAsync("openModal", "CinemaDetailModal");
    }

    private async Task OpenCreateCinemaModal(string cinemaCenterName)
    {   
        selectedCinemaCenterName = cinemaCenterName;
        if (selectedCinemaCenterName == "Tên Rạp Phim")
        {
            await JSRuntime.InvokeVoidAsync("alert", "Vui lòng chọn rạp phim trước khi tạo phòng chiếu");
            NavigationManager.NavigateTo("/cinema", forceLoad: true);
        }
        createCinemaModalRef.ResetForm(); //Reset form mỗi khi mở modal
        await JSRuntime.InvokeVoidAsync("openModal", "CreateCinemaModal");
    }

    private async Task HandleUpdateCinemaSuccess(string cinemaCenterName) //Xử lý hiển thị khi update thành công
    {
        selectedCinemaCenterName = cinemaCenterName; //trả về tên rạp phim từ UpdateCinemaModal
        _lstCinemas = await CinemaService.GetCinemasAsync(selectedCinemaCenterName, null); // Truyền cinemaCenterName
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("closeModal", "UpdateCinemaModal"); //Đóng modal
    }

    private async Task HandleCreateCinemaSuccess(string cinemaCenterName) //Xử lý hiển thị khi thêm rạp thành công
    {
        selectedCinemaCenterName = cinemaCenterName; //trả về tên rạp phim từ CreateCinemaModal
        _lstCinemas = await CinemaService.GetCinemasAsync(selectedCinemaCenterName, null); // Truyền cinemaCenterName
        StateHasChanged();
        await JSRuntime.InvokeVoidAsync("closeModal", "CreateCinemaModal"); //Đóng modal
    }

    private void HandleSeatSelected(Guid seatId) //mở modal chi tiết ghế
    {
        SeatId = seatId;
        JSRuntime.InvokeVoidAsync("closeModal", "CinemaDetailModal");
        seatDetailModalRef.ResetForm();
        JSRuntime.InvokeVoidAsync("openModal", "SeatDetailModal");
    }

    private async Task CloseSeatDetail() //đóng modal chi tiết ghế
    {
        await JSRuntime.InvokeVoidAsync("closeModal", "SeatDetailModal");
        await JSRuntime.InvokeVoidAsync("openModal", "CinemaDetailModal");
    }
    private async Task CloseRowUpdate() //đóng modal sửa hàng ghế
    {
        await JSRuntime.InvokeVoidAsync("closeModal", "RowUpdateModal");
        await JSRuntime.InvokeVoidAsync("openModal", "CinemaDetailModal");
    }

    private async Task HandleSeatUpdated() //nhận trả về khi sửa ghế thành công
    {
        await JSRuntime.InvokeVoidAsync("closeModal", "SeatDetailModal");
        await JSRuntime.InvokeVoidAsync("openModal", "CinemaDetailModal");
        // Refresh the cinema details to show updated seat list
        var result = await CinemaService.GetCinemaById(guid);
        var cinema = result.Data;
        var seats = await SeatService.GetSeats(guid);
        StateHasChanged();
    }
    private async Task HandleRowSelected(List<SeatDTO> seatsRow) //nhận trả về khi chọn hàng ghế
    {
        lstSeatsRow = seatsRow;
        await JSRuntime.InvokeVoidAsync("closeModal", "CinemaDetailModal");
        rowUpdateModalRef.ResetForm();
        await JSRuntime.InvokeVoidAsync("openModal", "RowUpdateModal");
    }
    private async Task HandleRowUpdated() //nhận trả về khi sửa hàng ghế thành công
    {   
        await Task.Delay(100);
        await JSRuntime.InvokeVoidAsync("closeModal", "RowUpdateModal");
        await JSRuntime.InvokeVoidAsync("openModal", "CinemaDetailModal");
        var result = await CinemaService.GetCinemaById(guid);
        var cinema = result.Data;
        var seats = await SeatService.GetSeats(guid);
        StateHasChanged();
    }
}
