@using MovieTicket.Application.DataTransferObjs.Bill

<div class="container-fluid">
	<div class="row">
		<div class="col align-self-center" style="width:10%">
			<button class="btn btn-primary text-light bi bi-chevron-left  fs-5" style="padding:10px;width:130px;height:50px" @onclick="PreSelection">Quay lại</button>
		</div>
		@if (showtimeDto != null && cinemaDto != null)
		{
			<div class="col" style="width:40%">
				<div class="d-flex">
					<img src="@filmDto.Poster" class="object-fit-cover" style="width: 75px;height:110px" />
					<div class="ms-2">
						<span class="fw-bold">
							@showtimeDto.FilmName
						</span>
						<br />
						@showtimeDto.ScreenTypeName
						<br />
						@formatRating
					</div>
				</div>
			</div>
			<div class="col" style="width:20%">
				<label class="me-2">Rạp:</label>
				<span class="fw-bold">@showtimeDto.CinemaCenterName</span>

				<br />
				<label class="me-2">Phòng chiếu:</label>
				<span class="fw-bold">@cinemaDto.Name</span>

			</div>
			<div class="selectedSeats col" style="width:10%">
				<label class="me-2">Suất chiếu:</label>
				<br />
				<span class="fw-bold">@formatStartTime</span>

				<br />
				<label class="me-2">Ghế đã chọn:</label>
				<br />
				<span class="fw-bold">@SeatsSelectedstr</span>

			</div>
			<div class="ticketPrices col" style="width:10%">
				<label class="me-2">Combo:</label>
				<br />
				<span class="fw-bold">0 VND</span>
				<br />
				<label class="me-2">Tổng tiền:</label>
				<br />
				@if (Total != null)
				{
					<span class="fw-bold">@Total </span>

				}
			</div>
		}
		<div class="col align-self-center text-end" style="width:10%;">
			<button class="btn btn-success text-light fs-5 m-0" style="padding:10px;width:130px;height:50px" @onclick="NextSelection">Tiếp theo<i class="bi bi-chevron-right"></i></button>
		</div>
	</div>
</div>

@code {
	[Parameter] public Guid ShowtimeId { get; set; }
	[Parameter] public Guid  BillId { get; set; }
	[Parameter] public List<SeatDTO> CheckedSeats { get; set; }
	[Parameter] public string SeatsSelectedstr { get; set; }
	[Parameter] public string Total { get; set; }
	[Parameter] public EventCallback<Guid> BackToSeatModal { get; set; }

	private List<ComboDto> lstCombo = new List<ComboDto>();
	private ShowTimeDto showtimeDto = new();
	private CinemaDto cinemaDto { get; set; } = new();
	private FilmDto filmDto = new();
	private string formatStartTime = "";
	private string formatRating = "";
	private AuthenticationState AuthenState;
	private BillDetailDto Bill = new();
	private CancellationToken cancellationToken;
	private List<SeatUpdateRequest> lstSeatUpdateRequests = new();

	protected async override Task OnParametersSetAsync()
	{
		if (ShowtimeId != Guid.Empty)
		{
			var response = await ShowTimeService.GetById(ShowtimeId);
			showtimeDto = response.Data;
			var cinema = await CinemaService.GetCinemaById(showtimeDto.CinemaId);
			cinemaDto = cinema.Data;
			var film = await FilmService.GetById(showtimeDto.FilmId);
			filmDto = film;
			formatRating = "T" + filmDto.Rating;
			formatStartTime = showtimeDto.StartTime.Value.ToString("HH:mm dd/MM");
			lstCombo = await ComboService.GetAll();
			if(BillId != Guid.Empty)
            {
                Bill = await UserHomeService.GetBillForCheckOut(BillId);
			}
		}
	}

	private async Task PreSelection()
	{
		foreach (var s in CheckedSeats)
        {
            lstSeatUpdateRequests.Add(new SeatUpdateRequest
            {
                Id = s.Id,
                Status = SeatStatus.Available
            });
        }
		await SeatService.UpdateRange(lstSeatUpdateRequests);
		await UserHomeService.DeleteCheckAsync(BillId, cancellationToken);
		await BackToSeatModal.InvokeAsync(ShowtimeId);
	}

	private async Task NextSelection()
	{
		PayOS payOS = new PayOS("696efb39-86fe-44ce-8182-a7a1bbe9881b", "d662ce34-c955-4710-a264-ab9a97e5319a",
		"1e063ea755ccf53bf11fc90b624238daa15b57bb11fdcc6535a5ec48e84be53a");
		ItemData itemData = new ItemData(Bill.FilmName, 1, Convert.ToInt32(Bill.TotalMoney));
		List<ItemData> lstItemDatas = new List<ItemData>();
		lstItemDatas.Add(itemData);
		PaymentData paymentData = new PaymentData(Bill.BillCode, Convert.ToInt32(Bill.TotalMoney), "VHD Cinema", lstItemDatas, "https://localhost:7239/", "https://localhost:7239/");
		CreatePaymentResult createPayment = await payOS.createPaymentLink(paymentData);
		NavigationManager.NavigateTo(createPayment.checkoutUrl, true);
	}
	public Task Reset()
    {
        CheckedSeats.Clear();
        SeatsSelectedstr = "";
        Total = null;
		StateHasChanged();
        return Task.CompletedTask;
    }
}
