@page "/"
@layout MovieTicket.BlazorServer.Components.Layout.UserLayout

<PageTitle>Home</PageTitle>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="https://files.betacorp.vn/media/images/2024/09/27/1702x621-19-161327-270924-72.jpg" class="d-block w-100" alt="Slide 1">

		</div>
		<div class="carousel-item">
			<img src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_14__4.jpg" class="d-block w-100" alt="Slide 2">

		</div>
		<div class="carousel-item">
			<img src="https://iguov8nhvyobj.vcdn.cloud/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/9/8/980x448_15__2.jpg" class="d-block w-100" alt="Slide 3">

		</div>
	</div>
	<button class="left carousel-control" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="right carousel-control" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>

<div class="container">
	<div class="tab my-5 d-flex justify-content-center border-bottom">
		<button class="tablinks" onclick="openCity(event, 'SapChieu')">PHIM SẮP CHIẾU</button>
		<button class="tablinks" onclick="openCity(event, 'DangChieu')" id="defaultOpen">PHIM ĐANG CHIẾU</button>
		<button class="tablinks" onclick="openCity(event, 'Dacbiet')">SUẤT CHIẾU ĐẶC BIỆT</button>
	</div>
	<div class="m-5">
		<!-- Tab content -->
		<div id="SapChieu" class="tabcontent">
			<div class="row">
				@if (listObjFilm == null)
				{
					<p>Chưa có phim</p>
				}
				else
				{
					<!-- Movie 1 -->
					@foreach (var item in listObjFilm)
					{
						@if (item.SType == ScheduleType.Early)
						{
							var rating = "c" + "-" + item.Rating.Value.ToString() + ".png";
							<div class="col-lg-3 mb-5">
								<div class="movie-card">
									<img src="@item.Poster" alt="Movie Poster" class="object-fit-fill" style="height: 316px">
									<span style="position: absolute; top: 10px; left: 10px;"><img src="./img/icons/@rating" /></span>
									<span class="sticker sticker-new"></span>

									<div class="movie-info">
										<h5 class="text-primary">@item.Name</h5>
										<p><strong class="me-2">Thể loại:</strong>@item.Gerne</p>
										<p><strong class="me-2">Thời lượng:</strong>@item.RunningTime</p>
										<p><strong>Ngày khởi chiếu:</strong> @item.StartDate.Value.ToString("dd-MM-yyyy")</p>
									</div>

								</div>
							</div>
						}
					}
				}



			</div>
		</div>

		<div id="DangChieu" class="tabcontent">
			<div class="row">
				<!-- Movie 1 -->
				@if (listObjFilm == null)
				{
					<p>Chưa có phim</p>
				}
				else
				{
					@foreach (var item in listObjFilm)
					{
						@if (item.SType == ScheduleType.Regular)
						{
							var rating = "c" + "-" + item.Rating.Value.ToString() + ".png";
							<div class="col-lg-3 mb-5">
								<div class="movie-card">
									<img src="@item.Poster" alt="Movie Poster" class="object-fit-fill" style="height: 316px">
									<span style="position: absolute; top: 10px; left: 10px;"><img src="./img/icons/@rating" /></span>
									<span class="sticker sticker-new"></span>

									<div class="movie-info">
										<h5 class="text-primary">@item.Name</h5>
										<p><strong class="me-2">Thể loại:</strong>@item.Gerne</p>
										<p><strong class="me-2">Thời lượng:</strong>@item.RunningTime</p>
									</div>
									<a style="display: block;" @onclick="() => OpenModalShowTime(item.Id.ToString())" class="btn btn-2 btn-mua-ve2 fancybox-fast-view">
										<span><i class="bi bi-ticket-perforated"></i></span>
										MUA VÉ
									</a>
								</div>
							</div>
						}
					}
				}

			</div>
		</div>

		<div id="Dacbiet" class="tabcontent">
			<div class="row">
				@if (listObjFilm == null)
				{
					<p>Chưa có phim</p>
				}
				else
				{
					@foreach (var item in listObjFilm)
					{
						@if (item.SType == ScheduleType.Special)
						{
							var rating = "c" + "-" + item.Rating.Value.ToString() + ".png";
							<div class="col-lg-3 mb-5">
								<div class="movie-card">
									<img src="@item.Poster" alt="Movie Poster" class="object-fit-fill" style="height: 316px">
									<span style="position: absolute; top: 10px; left: 10px;"><img src="./img/icons/@rating" /></span>
									<span class="sticker sticker-new"></span>

									<div class="movie-info">
										<h5 class="text-primary">@item.Name</h5>
										<p><strong class="me-2">Thể loại:</strong>@item.Gerne</p>
										<p><strong class="me-2">Thời lượng:</strong>@item.RunningTime</p>
									</div>
									<a style="display: block;" @onclick="() => OpenModalShowTime(item.Id.ToString())" class="btn btn-2 btn-mua-ve2 fancybox-fast-view">
										<span><i class="bi bi-ticket-perforated"></i></span>
										MUA VÉ
									</a>
								</div>
							</div>
						}
					}
				}
			</div>
		</div>
	</div>

</div>
<div id="myModalBuyTicket" class="modal-buy">
	<div class="modal-size">
		<div class="modal-content-buy d-flex justify-content-between border-bottom ">
			<span class="close-modal-btn" onclick="closeModal()">&times;</span>
			<h5>LỊCH CHIẾU - @filmName</h5>
		</div>
		<div class="modal-body">
			<ViewShowTimeModal OnShowtimeSelected="OpenSeatSelectionModal" Id="@IdFilm"></ViewShowTimeModal>
		</div>
	</div>
</div>
<!--Modal chọn ghế -->
<div class="modal fade" id="SeatSelectionModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header" data-bs-theme="dark">
				<h4 class="modal-title">Chọn ghế</h4>
				<button type="button" class="btn-close" @onclick="() => ShowCloseConfirmation()" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<SeatSelectionModal @ref="seatSelectionModalref" ShowtimeId="@ShowTimeId" OnSeatSelection="HandleSelectedSeats" />
			</div>
			<div class="modal-footer" style="width:100%;height:150px">
				<FooterModal ShowtimeId="@ShowTimeId" SeatDTOs="lstSeats" @ref="footerModalref" SeatsSelectedstr="@SeatsSelectedstr" Total="@TotalMoney" NextSelectionModal="OpenComboSelectionModal" />
			</div>
		</div>
	</div>
</div>
<!--Modal combo -->
<div class="modal fade" id="ComboSelectionModal" tabindex="-1" data-bs-backdrop="static" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header" data-bs-theme="dark">
				<h4 class="modal-title">Chọn Combo</h4>
			</div>
			<div class="modal-body">
				<ComboSelectionModal @ref="comboSelectionModalref" BillId="@BillId" />
			</div>
			<div class="modal-footer" style="width:100%;height:150px">
				<FooterModal ShowtimeId="@ShowTimeId" SeatDTOs="lstSeats" @ref="footerModalref" SeatsSelectedstr="@SeatsSelectedstr" Total="@TotalMoney" PreSelectionModal="PreComboSelectionModal" />
			</div>
		</div>
	</div>
</div>

<script>
	document.getElementById("defaultOpen").click();
	function openCity(evt, cityName) {
		// Declare all variables
		var i, tabcontent, tablinks;

		// Get all elements with class="tabcontent" and hide them
		tabcontent = document.getElementsByClassName("tabcontent");
		for (i = 0; i < tabcontent.length; i++) {
			tabcontent[i].style.display = "none";
		}

		// Get all elements with class="tablinks" and remove the class "active"
		tablinks = document.getElementsByClassName("tablinks");
		for (i = 0; i < tablinks.length; i++) {
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		// Show the current tab, and add an "active" class to the button that opened the tab
		document.getElementById(cityName).style.display = "block";
		evt.currentTarget.className += " active";
	}
	function openModalShowTime() {
		document.getElementById('myModalBuyTicket').style.display = 'flex';
	}

	// Đóng modal
	function closeModal() {
		document.getElementById('myModalBuyTicket').style.display = 'none';
	}

	function openModal(modalId) {
		var modalElement = document.getElementById(modalId);
		var modal = new bootstrap.Modal(modalElement);
		modal.show();
	}
	function closeModall(modalId) {
		var modalElement = document.getElementById(modalId);
		var modal = bootstrap.Modal.getInstance(modalElement);
		if (modal) {
			modal.hide();
		}
	}
</script>

@code {
	private List<UserHomeDto> listObjFilm = new List<UserHomeDto>();
	private List<SeatDTO> lstSeats = new List<SeatDTO>();
	private string IdFilm;
	private string filmName { get; set; }
	private Guid ShowTimeId;
	private SeatSelectionModal seatSelectionModalref;
	private ComboSelectionModal comboSelectionModalref;
  private Guid BillId;
	private FooterModal footerModalref;
	private string SeatsSelectedstr;
	private string TotalMoney;
	public class EventCallbackArgs
	{
		public List<SeatDTO> lstSeats { get; set; }
		public string str { get; set; }
		public string totalMoney { get; set; }
		public List<ComboDto>? lstCombo { get; set; }
	}
	protected async override Task OnInitializedAsync()
	{
		listObjFilm = await UserHomeService.GetAllFilmForUserHome();
	}


	private async Task OpenModalShowTime(string id)
	{
		IdFilm = id;
		var listObj = await UserHomeService.GetAllFilmForUserHome();
		filmName = listObj.FirstOrDefault(x => x.Id == Guid.Parse(id)).Name;
		await JSRuntime.InvokeVoidAsync("openModalShowTime");
	}
	private async Task OpenSeatSelectionModal(Guid id)
	{
		Task.Delay(300);
		ShowTimeId = id;
		await JSRuntime.InvokeVoidAsync("closeModal");
		seatSelectionModalref.Reset();
		await JSRuntime.InvokeVoidAsync("openModal", "SeatSelectionModal");
	}
	private void HandleSelectedSeats(EventCallbackArgs args)
	{
		// Task.Delay(300);
		lstSeats = args.lstSeats;
		SeatsSelectedstr = args.str;
		TotalMoney = args.totalMoney;
		StateHasChanged();
		
	}
	private async Task OpenComboSelectionModal(Guid id)
	{
		Task.Delay(300);
		BillId = id;
		await JSRuntime.InvokeVoidAsync("closeModall", "SeatSelectionModal");
		await JSRuntime.InvokeVoidAsync("openModal", "ComboSelectionModal");
	}
	private async Task CloseSeatSelectionModal()
	{
		await JSRuntime.InvokeVoidAsync("closeModall", "SeatSelectionModal"); //đóng seat selection modal
		seatSelectionModalref.Reset();
		var listObj = await UserHomeService.GetAllFilmForUserHome();
		filmName = listObj.FirstOrDefault(x => x.Id == Guid.Parse(IdFilm)).Name;
		await JSRuntime.InvokeVoidAsync("openModalShowTime");
	}
	private async Task PreComboSelectionModal()
	{
		await JSRuntime.InvokeVoidAsync("closeModall", "ComboSelectionModal"); //đóng seat selection modal
		await JSRuntime.InvokeVoidAsync("openModal", "SeatSelectionModal");
	}
	private async void ShowCloseConfirmation()
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Xác nhận hủy đặt vé?");
		if (confirmed)
		{
			await CloseSeatSelectionModal();
		}
	}

}