@page "/bill-detail/{Id}"
@using MovieTicket.Application.DataTransferObjs.Account
@using MovieTicket.Application.DataTransferObjs.Bill
@using MovieTicket.Application.DataTransferObjs.Ticket

<div class="container-fluid">
	<div class="mb-2">
		<NavLink href="bill-list" class="btn btn-secondary opacity-50"><i class="bi bi-arrow-bar-left"></i> Quay lại</NavLink>
	</div>
	<div class="row">
		<!-- Thông tin đơn hàng -->
		<div class="col-md-6 mb-3">
			<div class="row">
			@if (objBill != null && objShowTime != null)
				{
					<div class="col-md-6 mb-3">
						<div class="py-2 mb-4 border-bottom"><h5>Thông tin đơn hàng</h5></div>
						<p><strong>Mã đơn hàng:</strong>@objBill.Id</p>
						<div><strong>Phim:</strong><span class="text-primary">@objShowTime.FilmName</span></div>
						<p><strong>Giờ chiếu:</strong><span class="badge bg-danger">@objShowTime.StartTime - @objShowTime.EndTime</span></p>
						<p><strong>Ngày chiếu:</strong>@objShowTime.ShowtimeDate</p>
						<p><strong>Phòng chiếu:</strong>@objShowTime.CinemaName</p>
						<p><strong>Rạp chiếu:</strong><span class="text-primary">@objShowTime.CinemaCenterName</span></p>
						<p><strong>Ngày đặt:</strong>@objBill.CreateTime</p>
					</div>

					<!-- Thông tin khách hàng -->
					<div class="col-md-6 mb-3">
						<div class="py-2 mb-4 border-bottom">
							<h5>Thông tin khách hàng</h5>
						</div>
						<p><strong>Khách hàng:</strong> Bùi Duy Đông</p>
						<p><strong>Điện thoại:</strong> 093668888</p>
						<p><strong>Email:</strong> dong@gmail.com</p>
						<p><strong>Trạng thái:</strong> <span class="badge bg-success">@objBill.Status</span></p>
						<p><strong>Thành tiền:</strong> 1,066,000</p>
						<p><strong>Giảm giá:</strong> 0</p>
						<p><strong>Tổng tiền:</strong> @objBill.TotalMoney</p>
					</div>
				}
				else
				{
					<p>Không có dữ liệu</p>
				}	

			</div><div class="">
				<img src="https://tritonstore.com.au/wp-content/uploads/MSI-Plessey.webp" width="100%" height="200" class="object-fit-contain border rounded" />
			</div>
		</div>


		<!-- Ghế & Dịch vụ -->
		<div class="col-md-6 mb-3">
			<div class="py-2 mb-3 border-bottom">
				<h5>Ghế & Dịch vụ</h5>
			</div>
			<!-- Thông tin ghế -->
			<table class="table align-middle mb-5">
				<thead class="table-secondary">
					<tr>
						<th>Thông tin ghế</th>
						<th>Loại ghế</th>
						<th>Giá tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>A1</td>
						<td><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
						<td>100,000</td>
					</tr>
					<tr>
						<td>C2</td>
						<td><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
						<td>100,000</td>
					</tr>
					<tr>
						<td>C3</td>
						<td><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
						<td>100,000</td>
					</tr>
					<tr>
						<td>C4</td>
						<td><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
						<td>100,000</td>
					</tr>
					<tr>
						<td>D4</td>
						<td><span class="p-2 m-2 badge text-secondary bg-secondary bg-opacity-10 border border-secondary">Ghế thường</span></td>
						<td>100,000</td>
					</tr>
				</tbody>
			</table>

			<!-- Dịch vụ -->
			<table class="table align-middle">
				<thead class="table-secondary">
					<tr>
						<th>Tên dịch vụ</th>
						<th>Số lượng</th>
						<th>Đơn giá</th>
						<th>Tổng tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>HCinema Combo</td>
						<td>1</td>
						<td>113,000</td>
						<td>113,000</td>
					</tr>
					<tr>
						<td>My Combo</td>
						<td>1</td>
						<td>87,000</td>
						<td>87,000</td>
					</tr>
					<tr>
						<td>Ladies Love Set</td>
						<td>2</td>
						<td>183,000</td>
						<td>366,000</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

@code {
	[Parameter] public string Id { get; set; }
	private List<TicketDto> lstTicket = new List<TicketDto>();
	private TicketDto objTicket = new TicketDto();
	private ShowTimeDto objShowTime = new ShowTimeDto();
	private BillDetailDto objBill = new BillDetailDto();

	protected async override Task OnInitializedAsync()
	{
		objBill = await BillService.GetBillByIdAsync(Guid.Parse(Id));
		lstTicket = await TicketService.GetListTicketByBillIdAsync(Guid.Parse(Id));
		objTicket = lstTicket.FirstOrDefault(x => x.BillId == Guid.Parse(Id));
		var showtimeId = objTicket.ShowTimeId.Value;
		var findShowtime = await ShowTimeService.GetById(showtimeId);
		objShowTime = findShowtime.Data;
	}
	
}
