@page "/bill-list"
@using MovieTicket.Application.DataTransferObjs.Bill
@using MovieTicket.Application.DataTransferObjs.Ticket
<div class="container-fluid mt-4">
    <div class="row mb-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Search by BarCode or Status" />
        </div>
        <div class="col-auto">
            <button class="btn btn-primary">Search</button>
        </div>
    </div>

    <table class="table align-middle">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Tên phim</th>
                <th>Suất chiếu</th>
                <th>Phòng chiếu </th>
                <th>Trạng thái</th>
                <th>Tổng tiền</th>
                <th>Ngày đặt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in lstBills)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FilmName</td>
                    <td><span class="p-2 m-2 badge text-primary bg-primary bg-opacity-10 border border-primary">Suất chiếu thường</span></td>
                    <td>GOLD CLASS HCinema Aeon Hà Đông</td>
                    <td><span class="p-2 m-2 badge text-success bg-success bg-opacity-10 border border-success">@item.Status</span></td>
                    <td>@item.TotalMoney</td>
                    <td>@item.CreateTime</td>
                    <td>
                        <a class="btn btn-info btn-sm" href="bill-detail/@item.Id.ToString()">View</a>
                    </td>
                </tr>
            }
           
        </tbody>
    </table>
</div>

@code {
    private List<BillDto> lstBills = new List<BillDto>();
    private List<TicketDto> lstTicketDto = new List<TicketDto>();
    private TicketDto ticketDto = new TicketDto();

    protected async override Task OnInitializedAsync()
    {
       lstBills = await BillService.GetListBillAsync();       
    }

}
