@page "/film-view/{Id}"
@layout WebUI.Layout.UserLayout
<div class="container">
	<h1>Nội dung phim</h1>
	<hr />
	<div class="card mb-3" style="max-width: 100%;">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="@film.Poster" class="object-fit-cover" alt="..." style="width: 100%;height:100%">
			</div>
			<div class="col-md-8">
				@if (film != null)
				{
					<div class="card-body p-4">
						<h5 class="card-title">@film.Name</h5>
						<hr />
						<div class="card-text">
							<p><strong>Đạo diễn:</strong> @film.Director</p>
							<p><strong>Diễn viên:</strong> @film.Cast</p>
							<p><strong>Thể loại:</strong> @film.Gerne</p>
							<p><strong>Khởi chiếu:</strong> @film.StartDate?.ToString("dd/MM/yyyy")</p>
							<p><strong>Thời lượng:</strong> @film.RunningTime phút</p>
							<p><strong>Ngôn ngữ:</strong> @film.Language</p>
							<p><strong>Giới hạn độ tuổi:</strong> @film.Rating tuổi</p>
							<a style="display: block;" @onclick="() => OpenModalShowTime(Id.ToString())" class="btn btn-2 btn-mua-ve2 fancybox-fast-view">
								<span><i class="bi bi-ticket-perforated"></i></span>
								MUA VÉ
							</a>
						</div>
						<div class="card-text my-2">
							<p><strong>Trailer:</strong></p>
							<small class="text-body-secondary">
								<iframe width="560"
										height="315"
										src="@film.Trailer"
										title="YouTube video player"
										frameborder="0"
										allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen>
								</iframe>

							</small>
						</div>
					</div>
				}
				else
				{
					<div class="spinner-border text-info" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<style>
	.btn-mua-ve2 {
		/*padding: 10px 70px;*/
		position: relative;
		font-size: large;
		border: none;
		font-weight: bold;
		color: #fff;
		background-color: rgb(19, 113, 180);
		border-radius: 4px !important;
		transition: transform 0.2s ease-in-out;
	}

		.btn-mua-ve2:hover {
			background-image: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%) !important;
			color: #fff;
		}
</style>

@code {
	[Parameter] public string Id { get; set; }
	private FilmDto film = new FilmDto();
	protected async override Task OnInitializedAsync()
	{

		film = await FilmService.GetById(Guid.Parse(Id));

	}
	private async Task OpenModalShowTime(string id)
	{

	}
}
